{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="block-31" style="position: relative;">
    <div class="owl-carousel loop-block-31 ">
      <div class="block-30 block-30-sm item" style="background-image: url('{% static 'images/moonlight.jpeg' %}');" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center">
              <h2 class="heading">About The Organization</h2>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="site-section mb-5">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12 mb-5"><h1>Our History</h1></div>
        <div class="col-md-6">
            <p class="lead"><h1>About Rahbar e Faiz e Aam Welfare Trust</h1>
              Welcome to Rahbar e Faiz e Aam Welfare Trust, a beacon of hope and compassion founded by the visionary Bilal Ahmad Quasmi.
               We stand as a testament to the unwavering commitment to humanity, striving to make a meaningful difference in the lives of individuals across India.
              
              <h2> Our Vision</h2>
              At Rahbar e Faiz e Aam, our vision is simple yet profound – to be the catalyst for positive change in society.
               We believe in the transformative power of compassion and generosity, envisioning a world where every individual has the opportunity 
               to lead a dignified and fulfilling life.
              
              <h2>Founder's Message</h2>
               Bilal Ahmad Quasmi, the driving force behind Rahbar e Faiz e Aam, has dedicated his life to the service of humanity. 
               His unwavering belief in the inherent goodness of people has fueled the creation of this trust.
                Through his leadership, we embark on a journey to touch hearts, inspire minds, and uplift communities..</p>
<br>
                <h1>Our Impact</h1>
<br><h2>Hospitality</h2>
In the spirit of hospitality, Rahbar e Faiz e Aam provides shelter and sustenance to those in need.
 Our shelters are not just roofs over heads but symbols of hope, warmth, and resilience.
 
 <br>
 <h2>Healthcare</h2>
  We understand the value of health and well-being. The trust extends a healing touch through medical camps,
   clinics, and support for critical treatments, ensuring that health becomes a right, not a privilege.
          </div>
          <div class="col-md-6">
            <p class='lead'>
              <h2>Education</h2>
              Education is the cornerstone of progress. Rahbar e Faiz e Aam invests in the future by providing educational opportunities,
               scholarships, and resources, unlocking the door to a brighter tomorrow.
              
               <br>
              <h2>Clothing and Food</h2>
              Basic necessities are the foundation of a dignified life.
               We distribute clothing and food to vulnerable communities, 
               recognizing that these essentials pave the way for a more equitable society.
              
               <br>
              <h2>Marriages</h2>
              Celebrating love and commitment, Rahbar e Faiz e Aam supports marriages by providing financial assistance 
              and organizing community events. We believe in fostering bonds that create a strong, supportive social fabric.
              
              <br>
              <h2>Employment</h2>
              Empowerment through employment is a key focus. The trust facilitates skill development programs and job placement initiatives,
               empowering individuals to build sustainable livelihoods.
              
              <br>
              <h2>Funerals</h2>
              In moments of grief, Rahbar e Faiz e Aam stands as a pillar of support. 
              We assist in funeral arrangements, alleviating the burden on families during difficult times.
              
              <br>
              <h2>Hajj and Umrah Tours</h2>
              For those with a lifelong dream of undertaking the sacred journey of Hajj and Umrah, 
              the trust makes it possible. We believe in making spiritual aspirations a reality.
              
              <br>
              <h2>Our Commitment</h2>
              Rahbar e Faiz e Aam Welfare Trust is more than an organization; it's a movement.
               A movement fueled by compassion, sustained by integrity, and driven by the belief that collective efforts can transform lives.
              
              .</p>
          </div>
<div class='text-center mt-5'>
  <h2>
  Join us on this transformative journey. Together, 
  </h2>    
  <br><br>
  let's create a world where every individual has the chance to live again,
              where humanity thrives, and where the ripple of kindness touches every corner of our society.
              <br><br><br>
             <h1> Be the Change. Be Rahbar e Faiz e Aam</h1>
</div>
      </div>
      
      <div class="row mt-5">
        <div class="col-md-12 mb-5 text-center mt-5">
          <h2>Our Leadership</h2>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="{% static 'images/person_1.jpg' %}" alt="Image placeholder">
                <h3 class="block-38-heading"> Bilal Ahmad Qasmi</h3>
                <p class="block-38-subheading">Founder & CEO</p>
              </div>
              <div class="block-38-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="{% static 'images/person_2.jpg' %}" alt="Image placeholder">
                <h3 class="block-38-heading">Jennifer Greive</h3>
                <p class="block-38-subheading">President</p>
              </div>
              <div class="block-38-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="{% static 'images/Leaders/steve.jpg' %}" alt="Md. Shoeb Sheikh">
                <h3 class="block-38-heading">MD. Shoeb Sheikh</h3>
                <p class="block-38-subheading">Developer & Designer</p>
              </div>
              <div class="block-38-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="{% static 'images/person_4.jpg' %}" alt="Image placeholder">
                <h3 class="block-38-heading">Mike Coolbert</h3>
                <p class="block-38-subheading">Partner</p>
              </div>
              <div class="block-38-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="block-31 mb-5" style="position: relative;">
          <div class="owl-carousel loop-block-31">
            <div class="block-30 no-overlay item" style="background-image: url('{% static 'images/bg_2.jpg' %}');"></div>
            <div class="block-30 no-overlay item" style="background-image: url('{% static 'images/bg_1.jpg' %}');"></div>
            <div class="block-30 no-overlay item" style="background-image: url('{% static 'images/bg_3.jpg' %}');"></div>
          </div>
        </div>
    </div>
  </div>

  <div class="site-section border-top">
    <div class="container">
      {% include 'DMV.html' %}
    </div>
  </div> <!-- .site-section -->
  {% endblock body %}